[Unit]
Description=LIRC changer service (rust)
After=

[Service]
Environment="RUST_LOG=INFO"
ExecStartPre=ir-keytable -c -w /storage/.config/rc_keymaps/apple_a1156 -D 80 -P 80 
ExecStart=/storage/lirc-changer-rust/changer -i=/var/run/lirc/lircd -o=/var/run/lirc/lircd1
WorkingDirectory=/storage/lirc-changer-rust
StandardOutput=append:/storage/lirc-changer-rust/logs/service.log
StandardError=append:/storage/lirc-changer-rust/logs/service.err
Restart=always
User=root
TimeoutStopSec=30
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=kodi.target
